# Node.js/React
ClientApp/node_modules
ClientApp/build
ClientApp/dist

# .NET
bin
obj
*.user
*.suo

# Git
.git
.gitignore

# VS Code / IDE
.vscode
.idea

# Logs / temp
*.log
*.tmp
*.swp
.env
.env.*

# Docker-related
Dockerfile*
docker-compose*

# OS / system
Thumbs.db
.DS_Store
